body {
  font-height: 400px;
  font-family: Georgia, sans-serif;
  background-color: burlywood; }

.bg-dark {
  background-color: #000 !important; }

#fondo {
  background-image: url(deephouse.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  min-height: 400px;
  height: 50vh;
  overflow: auto;
  position: relative; }
  #fondo span {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0; }

.titulo {
  font-size: 3rem; }

.texto {
  font-weight: 300px; }

.contenedor {
  display: flex;
  flex-direction: row;
  padding: 3rem 0;
  justify-content: space-between; }
  .contenedor .caja {
    width: 100%;
    padding: 30px;
    box-sizing: border-box; }
    .contenedor .caja img {
      width: 60%;
      margin: 30px;
      transition: all 250ms ease-in-out; }
      .contenedor .caja img:hover {
        transform: scale(1.1);
        box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2); }
    .contenedor .caja .titulo {
      font-size: 1.5rem; }
    .contenedor .caja .detalles {
      padding: 1rem 5px; }
    .contenedor .caja .precio {
      font-size: 3rem;
      color: #444; }

.form {
  padding: 20px; }

#footer {
  display: block;
  height: 100px;
  background-color: #000000;
  color: #fff;
  padding: 20px; }
  #footer li {
    display: inline-block;
    margin-right: 40px;
    color: #FFFFFF;
    border-radius: 10px;
    text-align: center; }
    #footer li a {
      text-decoration: none;
      color: #fff; }
