@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

body {
  font-height: 400px;
  background-color: burlywood; }

.bg-dark {
  background-color: #000 !important; }

#fondo {
  background-image: url(deephouse.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  min-height: 400px;
  height: 50vh;
  overflow: auto;
  position: relative; }
  #fondo span {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0; }

.titulo, .contenedor .caja .title {
  font-size: 2rem; }

.texto {
  font-weight: 400; }

.contenedor {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between; }
  @media all and (max-width: 768px) {
    .contenedor {
      flex-wrap: wrap; } }
  .contenedor .caja {
    width: 70%;
    padding: 60px;
    box-sizing: border-box; }
    .contenedor .caja img {
      width: 100%;
      margin: 30px;
      transition: all 250ms ease-in-out; }
      .contenedor .caja img:hover {
        transform: scale(1.1);
        box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2); }
    .contenedor .caja .detalles {
      padding: 5px;
      text-align: center; }
    .contenedor .caja a {
      text-decoration: none;
      color: #000000; }

#galeria img {
  width: 100%;
  height: 400px; }
  #galeria img:hover {
    transform: scale(1.1);
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2); }

#galeria .col-lg-4 {
  padding: 25px; }

.form {
  padding: 20px; }

#main-container {
  margin: 50px auto;
  width: 600px; }
  #main-container table {
    width: 100%;
    background-color: white;
    text-align: left; }
    #main-container table thead {
      background-color: #a18594;
      border-bottom: solid 5px #F362D;
      color: #000; }
    #main-container table tr:hover {
      background-color: #369681; }
    #main-container table th, #main-container table td {
      border: solid 1px black;
      padding: 15px; }

#footer {
  display: block;
  width: 100%;
  height: 100px;
  background-color: #000000;
  color: #fff;
  padding: 20px; }
  #footer li {
    display: inline-block;
    margin-right: 40px;
    color: #FFFFFF;
    border-radius: 10px;
    text-align: center; }
    #footer li a {
      text-decoration: none;
      color: #fff; }
